@page "/"
@inject IConfiguration config

<PageTitle>Index</PageTitle>

<h1>Farmshare Administration</h1>

<span>Environment: @env</span>


@code {
	string env = "";

	protected override void OnInitialized()
	{
		//  Display the working environment on the home page
		env = config.GetValue<string>("Environment");
	}
}

